* {
    box-sizing: border-box;
    margin: 0;

}



header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;



}

nav {}

main {

    padding-top: 30px;


}

footer {}

.imagem {
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: auto;
    padding: 20px 0;
    border-radius: 14px;
    border: 1px inset grey;
    background-color: rgb(24, 34, 41);
    align-items: center;
    
}


.bolinha {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 100px;
    margin: auto;


}

.bolinha1 {
    width: 25px;
    height: 25px;
    margin: auto;


}

footer {
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    height: 450px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    
}

.caixa {
    margin-top: 25px;
    
    width: 400px;
    height: 400px;
    border: 1px rgb(255, 255, 255) solid;
    padding-top: 90px;
    text-align: center;
    
    
    border-radius: 20px;
    
}
a{
    display: block;
    color: white;

}
body{
background-color: black;

}


nav{
    display: flex;
    justify-content: center;
    text-align: center;


}

